APP_NAME=sdu-alumni-platform
APP_ENV=development

SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_SHUTDOWN_TIMEOUT=10s

DB_ENABLED=false
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=sdu_alumni
DB_PASSWORD=sdu_alumni_password
DB_NAME=sdu_alumni_db
DB_PARAMS=charset=utf8mb4&parseTime=true&loc=Local
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=1h

REDIS_ENABLED=false
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=2
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s
